# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\oneDrive云存储\OneDrive\桌面\misc\9615e2420f31048f7e30f3937356cf75-ffd7aa5b3a75ea903a0bb9cc106688da738722c5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
