<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>upload_ilscy</servlet-name>
        <servlet-class>com.upload.ilscy.Servlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_ilscy</servlet-name>
        <url-pattern>/upload_ilscy</url-pattern>
    </servlet-mapping>
</web-app>

